@import "colors";

footer{
    min-height: 10vw;
    width: 100%;
    color: white;
    display: grid;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(90deg, #A100FFFF 0%, #71C4FFFF 100%);
    padding: 2rem;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 768px) {
            display: block;
            flex-direction: column;
            align-items: center;
        }
        h1{
            font: 700 2rem ;
            color: white;
            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
        p{
            font: 500 1.2rem;
            @media (max-width: 768px) {
                font-size: 1rem;
            }
        }
        h5{
            font : 300 2rem;
            margin: 1rem 0;
            text-align: center;
            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
        .ok{
            color: white;
            font: 900 1rem ;
            text-transform: uppercase;
            margin-left: 2vw;
            @media (max-width: 768px) {
                margin-left: 0;
            }
            &:hover{
                color: $third;
                transition: all ease .5s;
            }
        }   
    }
};
