@import "colors";

.services {
    .carousel-root {
      margin: 20px auto;
      max-width: 800px;
    }
  
 
  
    .carousel .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
  
    .carousel img {
      max-width: 100%;
      max-height: 600px;
      border-radius: 5px;
    }
  
    .carousel .legend {
      font-size: 18px;
      color: #333;
      text-align: center;
      margin-top: 10px;
    }
  }
  